// ROOT STYLES
@import 'root_color';

// GENERAL STYLES
*,*::before,*::after{
    box-sizing: border-box;
}

// MAIN STYLES
main{
    width: 100%;
    & .card:hover{
        box-shadow: 0 0 15px $primary;
    }
    & .prod-image{
        height: auto;
        margin: 0;
        padding-top: 30px;
        position: relative;
        width: 100%;
        & > img{
            height: auto;
            max-width: 200px;
            width: 100%;
        }
    }
    & .range-details{
        color: $yellow;
        padding-bottom: 0;
        & > .fa-star{
            font-weight: bold;
        }
        & .fa-star-half-alt{
            display: none;
        }
    }
    & .price-gsweb{
        color: $cherry;
        font-size: 20px;
        font-weight: bold;
    }
    & .catalog-finmc{
        padding: 40px;
        padding-right: 0;
    }
    & #ProductsCart .card:hover{
        box-shadow: none;
    }
    & .gsweb-cart-info{
        width: 100%;
        & .cart-btn{
            position: relative;
            & .cart-art-count{
                position: absolute;
                top: 5px;
                left: 65%;
                transform: translateX(-50%);
                font-size: 12px;
                font-weight: bold;
                padding: 0 5px;
                display: inline-block;
                color: $white;
            }
        }
    }
    & form{
        padding: 20px;
        padding-left: 30px;
    }
}